@charset "utf-8";

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 700;
    font-display: swap;
    src: local('NotoSansKR Bold'),
        url('../font/NotoSans-Bold.woff2') format('woff2'),
        url('../font/NotoSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 500;
    font-display: swap;
    src: local('NotoSansKR Medium'),
        url('../font/NotoSans-Medium.woff2') format('woff2'),
        url('../font/NotoSans-Medium.woff') format('woff');
}


@font-face {
    font-family: 'NotoSansKR';
    font-weight: 400;
    font-display: swap;
    src: local('NotoSansKR Regular'),
        url('../font/NotoSans-Regular.woff2') format('woff2'),
        url('../font/NotoSans-Regular.woff') format('woff');
}

:root {
    --dropdown-placeholder: "Select an option";
    --gt-info: #10A9FF;
    --gt-success: #32C771;
    --gt-warning: #FF9659;
    --gt-error: #EB5757;
    --gt-primary: #3B00CC;
    --gt-secondary: #7B78FF;
    --gt-write: #ffffff;
    --gt-black-01: #000000;
    --gt-black-02: #1D1D1D;
    --gt-black-03: #282828;
    --gt-gray-01: #333333;
    --gt-gray-02: #4f4f4f;
    --gt-gray-03: #828282;
    --gt-gray-04: #bdbdbd;
    --gt-gray-05: #e0e0e0;
    --gt-gray-06: #f0f0f0;
    --gt-gray-07: #f5f5f5;
    --gt-gray-08: #FAFAFA;
    --gt-primary-bg: #F4F3FD;
    --gt-gray-bg: #F7F7FA;
    --gt-sky-bg: #ECF5FB;
    --gt-body-font-size: 16px;
    --gt-body-font-weight: 400;
    --gt-font-sans-serif: 'NotoSansKR', sans-serif;
    --gt-text-lg: 16px;
    --gt-text-md: 14px;
    --gt-text-sm: 13px;
    --gt-text-mn: 12px;
    --gt-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

* {
    box-sizing: border-box;
}

:root,
html {
    font-size: var(--gt-body-font-size);
}

body {
    font-family: var(--gt-font-sans-serif);
    font-size: var(--gt-body-font-size);
    font-weight: var(--gt-body-font-weight);
    line-height: 1.5;
    margin: 0;
}

a {
    transition: .5s all;
    text-decoration: none;
}

a:hover,
a:focus {
    transition: .5s all;
}

dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

button,
input,
textarea,
select {
    font-family: 'NotoSansKR', sans-serif;
}

input:focus,
input:hover {
    outline: none;
}

textarea {
    overflow: auto;
    resize: none;
}

table {
    caption-side: bottom;
    border-collapse: collapse
}

caption {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #6c757d;
    text-align: left
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0
}

select {
    word-wrap: normal
}

select:disabled {
    opacity: 1
}

[list]::-webkit-calendar-picker-indicator {
    display: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

progregt {
    vertical-align: baseline
}

h1,
.h1 {
    font-size: 30px;
    line-height: 38px;
}

h2,
.h2 {
    font-size: 26px;
    line-height: 35px;
}

h3,
.h3 {
    font-size: 24px;
    line-height: 33px;
}

h4,
.h4 {
    font-size: 22px;
    line-height: 30px;
}

h5,
.h5 {
    font-size: 20px;
    line-height: 26px;
}

h6,
.h6 {
    font-size: 18px;
    line-height: 24px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}

.col {
    flex: 1 0 0%
}


.col-auto {
    flex: 0 0 auto;
    width: auto
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%
}

.col-3 {
    flex: 0 0 auto;
    width: 25%
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%
}

.col-6 {
    flex: 0 0 auto;
    width: 50%
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%
}

.col-9 {
    flex: 0 0 auto;
    width: 75%
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%
}

.col-12 {
    flex: 0 0 auto;
    width: 100%
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.jc-end {
    justify-content: flex-end;
}

.jc-cetner {
    justify-content: center;
}

.ac-end {
    align-items: flex-end;
}

.ac-center {
    align-items: center;
}

.fd-column {
    flex-direction: column;
}

.fd-row-reverse {
    flex-direction: row-reverse;
}

/* **************************************** *
 * Common
 * **************************************** */
.common-wrap .header {
    align-items: center;
    background: #2C478E;
    display: flex;
    height: 60px;
    padding: 0 20px;
}

.common-wrap .header h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.common-body {
    display: flex;
    flex-direction: row;
}

.common-body aside {
    background: #F4F5F7;
    height: auto;
    padding: 20px;
    width: 200px;
}

.common-body aside ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.common-body aside ul li a {
    color: #333;
    font-size: 16px;
}

.common-element {
    padding: 20px;
    width: calc(100% - 200px);
}

.common-element table {
    margin: 0 0 20px 0;
    width: 100%;
}

.common-element tr:nth-child(1) {
    height: 40px;
}

.common-element tr td {
    vertical-align: top;
    font-size: 14px;
}

.common-element tr td:nth-child(1) {
    width: 100px;
}

.b-0 {
    border: 0 !important;
}

.p-none {
    padding: 0 !important;
}

.mb-none {
    margin-bottom: 0 !important;
}

.mt-5 {
    margin-top: 20px;
}

.m-none {
    margin: 0 !important;
}

.mb-33 {
    margin-bottom: 132px !important;
}

/* **************************************** *
 * Button
 * **************************************** */
button {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: center;
    transition: .5s all;
}

button:hover,
button:focus {
    transition: .5s all;
}

.btn-group {
    align-items: center;
    display: flex;
    gap: 8px;
}

.btn-group>button {
    flex: 0 0 auto;
}

.btn-group.flex-end {
    justify-content: flex-end;
}

.btn-group.flex-center {
    justify-content: center;
}

.btn {
    border: 0;
    border-radius: 6px;
}

.btn.flex {
    display: flex;
    gap: 4px;
}

.btn-mini {
    height: 35px;
    padding: 0 20px;
}

.btn-sm {
    height: 35px;
    width: 150px;
}

.btn-md {
    height: 45px;
    width: 156px;
}

.btn-md.w-200 {
    width: 200px;
}

.btn-lg {
    height: 50px;
    width: 190px;
}

.btn-xl {
    height: 55px;
    width: 330px;
}

.btn-primary {
    background: var(--gt-primary);
    border: 1px solid var(--gt-primary);
    color: var(--gt-write);
}

.btn-primary:hover {
    background: var(--gt-gray-02);
    border: 1px solid var(--gt-gray-02);
    color: var(--gt-write);
}

.btn-primary:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-secondary {
    background: var(--gt-secondary);
    color: var(--gt-write);
}

.btn-secondary:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-outline-secondary {
    background: var(--gt-write);
    border: 1px solid var(--gt-secondary);
    color: var(--gt-secondary);
}

.btn-outline-secondary:disabled {
    background: var(--gt-gray-06);
    border: 1px solid var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-success {
    background: var(--gt-success);
    color: var(--gt-write);
}

.btn-success:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-info {
    background: var(--gt-info);
    color: var(--gt-write);
}

.btn-info:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-warning {
    background: var(--gt-warning);
    color: var(--gt-write);
}

.btn-warning:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-black {
    background: var(--gt-black-03);
    color: var(--gt-write) !important;
}

.btn-black:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-gray {
    background: var(--gt-gray-02);
    color: #ffffff;
}

.btn-gray:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-outline-gray {
    background: var(--gt-write);
    border: 1px solid #C5C5C5;
    color: var(--gt-black-03);
}

.btn-outline-gray:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-error {
    background: var(--gt-error);
    color: var(--gt-write);
}

.btn-error:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-heart {
    background: url(../img/ico/i-heart-off.png);
    background-size: cover;
    border: 0;
    height: 22px;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 26px;
    z-index: 99;
}

.btn-heart.active {
    background: url(../img/ico/i-heart-on.png);
    background-size: cover;
}

.btn-alarm-close {
    background: url(../img/ico/i-x-g.png);
    background-size: cover;
    border: 0;
    height: 16px;
    padding: 0;
    width: 16px;
}

/* **************************************** *
 * MODAL
 * **************************************** */
.gt-modal-wrap {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.gt-modal-wrap.active {
    display: flex;
}

.gt-modal-inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.gt-modal-content {
    background-color: #fff;
    max-width: 90%;
    opacity: 0;
    padding: 24px 32px;
    position: relative;
    transform: translateY(-50px);
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.gt-modal-wrap.active .gt-modal-content {
    opacity: 1;
    transform: translateY(0);
}

/* 추가된 스타일: 애니메이션 초기화 */
.gt-modal-wrap.active .gt-modal-inner {
    animation: modalSlideDown 0.5s ease;
}

@keyframes modalSlideDown {
    from {
        transform: translateY(-30px);
    }

    to {
        transform: translateY(0);
    }
}

.gt-modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.gt-modal-header button {
    background: none;
    border: 0;
    padding: 0;
}

.gt-modal-title {
    color: var(--gt-black-03);
    font-size: 22px;
}

.gt-modal-footer {
    padding: 12px 16px;
}

.gt-modal-footer .gt-btn-group {
    justify-content: flex-end;
}

/* modal size */
.gt-modal-mini {
    width: 300px;
}

.gt-modal-sm {
    width: 360px;
}

.gt-modal-md {
    width: 500px;
}

.gt-modal-lg {
    width: 550px;
}

.gt-modal-xl {
    width: 650px;
}

/* content-modal */
.content-modal .gt-modal-md {
    width: 450px;
}

.content-modal .gt-modal-header button {
    position: absolute;
    right: 24px;
    top: 28px;
}

.content-modal .gt-modal-content {
    padding: 20px 40px;
}

/* **************************************** *
 * container
 * **************************************** */
.wrap {
    min-width: 1200px;
}

/* **************************************** *
 * Text
 * **************************************** */
h1.title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

h2.title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

h3.title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}


/* **************************************** *
 * Card
 * **************************************** */


/* **************************************** *
 * input
 * **************************************** */
/* input text */
.input-wrap {
    display: flex;
    gap: 20px;
}

.input-wrap.vertical {
    flex-direction: column;
    gap: 12px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
}

.input-group.horizontal {
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.input-group.horizontal label {
    flex: 0 0 auto;
    margin: 0 !important;
    width: 90px;
}

.input-group .text {
    color: var(--gt-black-01);
    font-size: var(--gt-text-sm);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

.input-area {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
}

.input-area span {
    color: #5C5D62;
}

.input-area button {
    flex: 0 0 auto;
}

.input-group label {
    color: var(--gt-black-01);
    font-size: 18px !important;
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.input-group input[type=text],
.input-group input[type=password] {
    background: var(--gt-write);
    border: 1px solid var(--gt-gray-05);
    border-radius: 6px;
    color: var(--gt-gray-01);
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    padding: 0 16px;
    transition: all .5s;
    width: 100%;
}

.input-group input[type=text]:focus,
.input-group input[type=password]:focus {
    border: 1px solid var(--gt-gray-03);
}

.input-group input[type=text]::placeholder,
.input-group input[type=password]::placeholder {
    color: #74767C;
}

.input-group input[type=text]:disabled,
.input-group input[type=password]:disabled {
    background: var(--gt-gray-06);
    border: 1px solid var(--gt-gray-05);
    color: var(--gt-gray-03);
}

.input-group p {
    align-items: center;
    color: var(--gt-gray-04);
    display: flex;
    font-size: var(--gt-text-sm) !important;
    justify-content: space-between;
    margin: 4px 0 0 0;
    text-align: left;
}

.input-group p a {
    color: var(--gt-black-01);
    font-size: var(--gt-text-sm);
    text-decoration: underline;
}

.input-group p span {
    color: var(--gt-gray-03);
    font-size: var(--gt-text-sm);
    margin: 0 0 0 auto;
}

.input-group .check-group {
    margin: 12px 0 0 0;
}

.input-group .check-group label {
    font-size: var(--gt-text-md) !important;
    margin: 0;
}

/* mn */
.input-group.mn input[type=text],
.input-group.mn input[type=password] {
    font-size: var(--gt-text-sm);
    height: 40px;
    padding: 0 12px;
}

.input-group.mn input[type=text]::placeholder,
.input-group.mn input[type=password]::placeholder {
    color: #cccccc;
}

.input-group.mn label {
    font-size: var(--gt-text-md) !important;
}

/* sm */
.input-group.sm {
    gap: 4px;
}

.input-group.sm input {
    font-size: var(--gt-text-lg);
    height: 42px;
}

.input-group.sm label {
    font-size: var(--gt-text-lg) !important;
    font-weight: bold;
    margin: 0 0 8px 0;
}

/* md */
.input-group.md input[type=text],
.input-group.md input[type=password] {
    font-size: var(--gt-text-lg);
    height: 55px;
    padding: 0 20px;
}

/* input error */
.input-group.error input[type=text],
.input-group.error input[type=password] {
    border: 1px solid var(--gt-error);
}

.input-group.error p {
    color: var(--gt-error) !important;
}

/* input sucess */
.input-group.success input[type=text],
.input-group.success input[type=password] {
    border: 1px solid var(--gt-success);
}

.input-group.success p {
    color: var(--gt-success);
}

/* input sucess */
.input-group.warning input[type=text],
.input-group.warning input[type=password] {
    border: 1px solid var(--gt-warning);
}

.input-group.warning p {
    color: var(--gt-warning);
}

/* input pw icon */
.input-group .btn-pw-eyes {
    background: url(../img/ico/i-eyes-on.png);
    background-size: cover;
    border: 0;
    height: 26px;
    padding: 0;
    position: absolute;
    right: 16px;
    width: 26px;
}



/* search */
.input-search {
    position: relative;
}

.input-search input[type=text] {
    background: #fff;
    border: 1px solid var(--gt-secondary);
    border-radius: 12px;
    color: var(--gt-gray-01);
    font-size: var(--gt-text-sm);
    font-weight: 400;
    height: 40px;
    padding: 0 16px 0 46px;
    transition: all .5s;
    width: 100%;
}

.input-search input[type=text]::placeholder {
    color: var(--gt-gray-04);
}

.input-search button {
    background: none;
    border: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}

/* type2 */
.input-search.type2 input[type=text] {
    border: 1px solid #cccccc;
    border-radius: 6px;
    height: 38px;
    padding: 0 16px;
}

.input-search.type2 button {
    left: auto;
    right: 16px;
}

/* checkbox */
.check-wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.check-group {
    align-items: center;
    display: flex;
}

.check-group input[type=checkbox] {
    display: none;
}

.check-group label {
    align-items: center;
    cursor: pointer;
    color: var(--gt-gray-01);
    font-size: var(--gt-text-md);
    display: flex;
    gap: 8px;
}

.check-group label b {
    font-weight: 500;
}

.check-group label .underline {
    text-decoration: underline;
}

.check-group label span {
    color: var(--gt-gray-03);
    font-size: var(--gt-text-sm);
}

.check-group label span.red {
    color: var(--gt-error);
}

.check-group label::before {
    background: url(../img/ico/i-checkbox.png);
    background-size: cover;
    border-radius: 4px;
    content: '';
    display: inline-block;
    flex: 0 0 auto;
    height: 20px;
    transition: all 0.3s ease;
    width: 20px;
}

.check-group input[type=checkbox]:checked+label {
    color: var(--gt-secondary);
    text-decoration: line-through;
}

.check-group input[type=checkbox]:checked:disabled+label {
    color: var(--gt-gray-04);
    text-decoration: none;
}

.check-group input[type=checkbox]:checked+label::before {
    background: url(../img/ico/i-checkbox-checked.png);
    background-size: cover;
    border: 0;
    transition: all 0.3s ease;
}

.check-group input[type=checkbox]:hover+label::before,
.check-group input[type=checkbox]:focus+label::before {
    background: url(../img/ico/i-checkbox-active.png);
    background-size: cover;
    transition: all 0.3s ease;
}

.check-group input[type=checkbox]:checked:hover+label::before,
.check-group input[type=checkbox]:checked:focus+label::before {
    background: url(../img/ico/i-checkbox-checked.png);
    background-size: cover;
    transition: all 0.3s ease;
}

.check-group input[type=checkbox]:disabled+label::before,
.check-group input[type=checkbox]:checked:disabled+label::before {
    background: url(../img/ico/i-checkbox-disabled.png);
    background-size: cover;
}

.check-group a {
    color: var(--gt-black-01);
    font-size: var(--gt-text-sm);
    margin: 0 0 0 auto;
}

.check-group.type2 label {
    align-items: flex-start;
    gap: 0;
}

.check-group.type2 label::before {
    margin: 0 8px 0 0;
}

/* type2 */
.check-group.type2 label {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-md);
}

.check-group.type2 label::before {
    background: url(../img/ico/i-checkbox-type2.png);
    background-size: cover;
    height: 24px;
    width: 24px;
}

.check-group.type2 input[type=checkbox]:checked+label {
    color: var(--gt-gray-01);
    text-decoration: unset;
}

.check-group.type2 input[type=checkbox]:hover+label::before,
.check-group.type2 input[type=checkbox]:focus+label::before {
    background: url(../img/ico/i-checkbox-type2.png);
    background-size: cover;
    transition: all 0.3s ease;
}

.check-group.type2 input[type=checkbox]:checked+label::before {
    background: url(../img/ico/i-checkbox-type2-checked.png);
    background-size: cover;
}

.check-group.type2 input[type=checkbox]:disabled+label {
    color: var(--gt-gray-04);
}

.check-group.type2 input[type=checkbox]:disabled+label::before,
.check-group.type2 input[type=checkbox]:checked:disabled+label::before {
    background: url(../img/ico/i-checkbox-type2-disabled.png);
    background-size: cover;
}

/* type2 sm */
.check-group.type2.sm label {
    align-items: center;
    color: var(--gt-gray-01);
    font-size: var(--gt-text-sm);
}

.check-group.type2.sm label::before {
    background: url(../img/ico/i-checkbox-type2.png);
    background-size: cover;
    height: 16px;
    width: 16px;
}

.check-group.type2.sm input[type=checkbox]:checked+label {
    color: var(--gt-gray-01);
    text-decoration: unset;
}

.check-group.type2.sm input[type=checkbox]:hover+label::before,
.check-group.type2.sm input[type=checkbox]:focus+label::before {
    background: url(../img/ico/i-checkbox-type2.png);
    background-size: cover;
    transition: all 0.3s ease;
}

.check-group.type2.sm input[type=checkbox]:checked+label::before {
    background: url(../img/ico/i-checkbox-type2-checked.png);
    background-size: cover;
}

.check-group.type2.sm input[type=checkbox]:disabled+label {
    color: var(--gt-gray-04);
}

.check-group.type2.sm input[type=checkbox]:disabled+label::before,
.check-group.type2.sm input[type=checkbox]:checked:disabled+label::before {
    background: url(../img/ico/i-checkbox-type2-disabled.png);
    background-size: cover;
}



/* radio */
.radio-wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.radio-group {
    align-items: center;
    display: flex;
}

.radio-group input[type=radio] {
    display: none;
}

.radio-group label {
    align-items: center;
    cursor: pointer;
    color: var(--gt-gray-01);
    font-size: var(--gt-text-md);
    font-weight: 400;
    display: flex;
    gap: 8px;
}

.radio-group label::before {
    background: url(../img/ico/i-radio.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 24px;
    transition: all 0.3s ease;
    width: 24px;
}

.radio-group input[type=radio]:hover+label::before,
.radio-group input[type=radio]:focus+label::before {
    border-radius: 100px;
    transition: all 0.3s ease;
}

.radio-group input:checked+label::before {
    background: url(../img/ico/i-radio-checked.png);
    background-size: cover;
}

.radio-group input:disabled+label {
    color: var(--gt-gray-04);
}

.radio-group input:disabled+label::before {
    background: url(../img/ico/i-radio-disabled.png);
    background-size: cover;
}

.radio-group input:checked:hover+label::before,
.radio-group input:disabled:hover+label::before {
    box-shadow: none;
}

/* type2 */
.radio-group.type2 label::before {}

.radio-group.type2 label {
    border: 2px solid var(--gt-gray-05);
    border-radius: 6px;
    justify-content: flex-start;
    padding: 16px 20px;
    width: 100%;
}

/* number */
.number-group {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.number-group input {
    border: 1px solid var(--gt-black-01);
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    height: 56px;
    text-align: center;
    width: 56px;
}

/* select */
.select-group {
    max-width: 500px;
}

.select-group.max-width {
    max-width: 100%;
}

.select-group h6 {
    margin: 0 0 12px 0;
    text-align: left;
}

.select-group select {
    background: url(../img/ico/i-arrow-down-g.png) no-repeat 96% 50%/20px auto;
    border: 1px solid var(--gt-gray-05);
    border-radius: 6px;
    color: var(--gt-gray-01);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    padding: 0 16px;
    transition: all .5s;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-group option {
    color: var(--gt-gray-01);
    font-size: 14px;
    font-weight: 400;
}

.select-group select:focus,
.select-group select:active {
    border: 1px solid var(--gt-gray-03);
    outline: none;
}

/* sm */
.select-group.sm select {
    background-size: 16px;
    background-position: right 12px center;
    font-size: var(--gt-text-sm);
    height: 40px;
    padding: 0 12px;
}

.select-group.sm h6 {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-md);
    line-height: 1.5;
    margin: 0 0 8px 0;
}

/* type2 */
.select-group.type2 h6 {
    font-size: var(--gt-text-lg);
    font-weight: 400;
}

.select-group.type2 select {
    background: url(../img/ico/i-arrow-down-g.png) no-repeat 16px auto;
    background-position: right 16px center;
    color: #74767C;
    font-size: 13px;
    font-weight: 400;
    height: 55px;
}

/* textarea */
.text-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text-group label {
    color: var(--gt-black-01);
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.text-group textarea {
    background: #fff;
    border: 1px solid var(--gt-gray-05);
    border-radius: 6px;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    height: 200px;
    padding: 16px;
    transition: all .5s;
    width: 100%;
}

.text-group textarea:focus {
    border: 1px solid var(--gt-gray-03);
    outline: none;
    transition: all .5s;
}

.text-group textarea::placeholder {
    color: #74767C;
}

.text-group p span {
    color: var(--gt-gray-03);
    font-size: var(--gt-text-sm);
}

.text-group p a {
    color: var(--gt-black-01);
    font-size: var(--gt-text-sm);
    text-decoration: underline;
}

/* sm */
.text-group.sm textarea {
    height: 136px;
    padding: 12px;
}

.text-group.sm textarea::placeholder {
    color: #cccccc;
}

.text-group.sm label {
    font-size: var(--gt-text-md);
}

/* md */
.text-group.md textarea {
    height: 180px;
    padding: 12px;
}

.text-group.md textarea::placeholder {
    color: #cccccc;
}

.text-group.md label {
    font-size: var(--gt-text-md);
}

/* input date */
.date-group {
    display: flex;
    flex-direction: column;
}

.date-group label {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-lg);
    font-weight: 500;
    margin: 0 0 8px 0;
    text-align: left;
}

/* .date-group .date-wrap {
    align-items: center;
    display: flex;
    gap: 8px;
    width: 100%;
} */

.date-group input[type="date"]::-webkit-calendar-picker-indicator,
.date-group input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}

.date-group input {
    background: #fff;
    border: 1px solid #D0D1D8;
    border-radius: 6px;
    color: var(--gt-gray-01);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    justify-content: flex-start;
    height: 50px;
    padding: 0 12px 0 16px;
    position: relative;
    transition: all .5s;
    width: 100%;
}

.date-group input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(../img/ico/i-datepicker.png) no-repeat right;
    background-size: cover;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 16px;
    opacity: 1;
    width: 16px;
}

/* .date-group input::before {
    color: #cccccc;
    content: attr(date-placeholder);
    transition: all .5s;
    width: 100%;
} */

.date-group input:hover,
.date-group input:focus {
    border: 1px solid var(--gt-gray-03);
    transition: all .5s;
}

.date-group input[type=date]:hover::before,
.date-group input[type=date]:valid::before {
    display: none;
    transition: all .5s;
}

/* mn */
.date-group.mn input {
    height: 40px;
    padding: 0 12px;
}

.date-group.mn label {
    font-size: var(--gt-text-md);
}

/* input file */
.file-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
}

.file-group h2 {
    align-items: flex-end;
    color: var(--gt-black-01);
    display: flex;
    font-size: var(--gt-text-lg);
    font-weight: 400;
    flex: 0 0 auto;
    justify-content: space-between;
}

.file-group h2 span {
    color: #666666;
}

.file-group input[type=file] {
    display: none;
}

.file-group label {
    align-items: center;
    background: #fafafa;
    border-radius: 6px;
    border: 1px solid var(--gt-gray-05);
    color: #74767C;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    height: 55px;
    padding: 0 16px;
    max-width: 400px;
}

.file-group span {
    color: #8437DD;
    font-size: 13px;
    font-weight: 400;
    margin: 0 4px 0 0;
}

/* input file img */
.file-img-group {
    align-items: center;
    background: #D9D9D9;
    background-size: cover;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    height: 144px;
    width: 144px;
}

.file-img-group input {
    display: none;
}

.file-img-group button {
    background: none;
    border: 0;
    color: var(--gt-write);
    font-size: 48px !important;
    font-weight: bold !important;
    height: 144px !important;
}

/* dropdown-group */
.dropdown-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dropdown-group h2 {
    color: #5C5D62;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}

.dropdown-group .dropdown-list-wrap {
    position: relative;
    width: 100%;
}

.dropdown-group .dropdown-list-wrap .dropdown-button {
    background: var(--gt-write);
    border: 1px solid var(--gt-gray-05);
    border-radius: 6px;
    color: var(--gt-black-03);
    font-size: var(--gt-text-sm);
    font-weight: 400;
    justify-content: flex-start;
    height: 40px;
    padding: 0 16px;
    position: relative;
    width: 100%;
}

.dropdown-group .dropdown-list-wrap .dropdown-button .placeholder {
    background: none;
    color: var(--gt-black-03);
    font-size: 14px;
    opacity: 1;
}

.dropdown-group .dropdown-list-wrap .dropdown-button::after {
    background: url(../img/ico/i-arrow-down.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 16px;
    position: absolute;
    transform: rotate(0);
    transition: all .5s;
    right: 12px;
    width: 16px;
}

.dropdown-group .dropdown-list-wrap .dropdown-button.active::after {
    transform: rotate(-180deg);
    transition: all .5s;
}

.dropdown-group .dropdown-list-wrap .dropdown-button.disabled {
    background: #EBEBF1;
    border: 1px solid #D0D1D8;
}

.dropdown-group .dropdown-list-wrap .dropdown-button.disabled .placeholder {
    color: #B0B0B7;
}

.dropdown-group .dropdown-list-wrap .dropdown-list {
    background: #fff;
    border: 0;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.20);
    display: none;
    margin: 4px 0 0 0;
    position: absolute;
    width: 100%;
    z-index: 200;
}

.dropdown-group .dropdown-list-wrap .dropdown-list li {
    align-items: center;
    border-radius: 4px;
    color: #191A1C;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    padding: 0 16px 0 40px;
    position: relative;
}

.dropdown-group .dropdown-list-wrap .dropdown-list li.active {
    background: var(--gt-gray-07);
}

.dropdown-group .dropdown-list-wrap .dropdown-list li.active::before {
    background: url(../img/ico/i-check-g.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 20px;
    position: absolute;
    left: 12px;
    width: 20px;
}

/* md */
.dropdown-group.md .dropdown-list-wrap .dropdown-button {
    border: 1px solid var(--gt-gray-05);
    border-radius: 12px;
    height: 48px;
}

/* **************************************** *
 * tab
 * **************************************** */
.tabs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tab-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.tab-button {
    align-items: center;
    background: var(--gt-gray-bg);
    border: 1px solid var(--gt-gray-05);
    border-bottom: 1px solid var(--gt-black-01);
    color: var(--gt-gray-01);
    cursor: pointer;
    font-size: var(--gt-text-lg);
    font-weight: 400;
    display: flex;
    justify-content: center;
    height: 62px;
    width: 50%;
}

.tab-button.active {
    background: #fff;
    border-top: 1px solid var(--gt-black-01);
    border-left: 1px solid var(--gt-black-01);
    border-right: 1px solid var(--gt-black-01);
    border-bottom: 0;
    font-weight: bold;
}

.tab-content {
    width: 100%;
}

.custom-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.custom-tab {
    align-items: center;
    background: #fff;
    border: 2px solid var(--gt-gray-05);
    border-radius: 16px;
    color: var(--gt-gray-01);
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    height: 46px;
    width: 112px;
}

.custom-tab.selected {
    background: var(--gt-primary-bg);
    border-color: #D5B4FF;
    color: var(--gt-secondary);
}

.default-tabs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.default-tabs .tab-list {
    border-bottom: 1px solid #999999;
    list-style: none;
    padding: 0;
    display: flex;
}

.default-tabs .tab-button {
    align-items: center;
    background: none;
    border: 0;
    border-bottom: 2px solid var(--gt-write);
    color: var(--gt-gray-03);
    cursor: pointer;
    font-size: var(--gt-text-md);
    font-weight: 400;
    display: flex;
    justify-content: center;
    height: 36px;
    width: 90px;
}

.default-tabs .tab-button.active {
    border-bottom: 2px solid var(--gt-black-01);
    color: var(--gt-black-03);
    font-weight: bold;

}

.default-tabs .tab-content {
    display: none;
}

.default-tabs.md .tab-button {
    height: auto;
    padding: 12px 32px;
    width: auto;
}

/* **************************************** *
 * Header
 * **************************************** */
.header-top {
    padding: 36px 0 16px 0;
}

.header-top.type2 {
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
    padding: 16px 0;
}

.header-top .container {
    display: flex;
}

.header-logo {
    align-items: center;
    color: var(--gt-black-01);
    font-size: 20px;
    font-weight: 50;
    display: flex;
    gap: 12px;
}

.header .input-search {
    margin: 0 0 0 28px;
    width: 390px;
}

.header-logo img {
    height: 28px;
}

.header-top-right {
    align-items: center;
    display: flex;
    gap: 24px;
    margin: 0 0 0 auto;
}

.header-top-right .language {
    align-items: center;
    color: #5C5A54;
    cursor: pointer;
    font-size: var(--gt-text-md);
    display: flex;
    gap: 4px;
}

.header-top-right li {
    display: flex;
    position: relative;
}

.header-top-right li a {
    color: var(--gt-black-01);
    display: flex;
    font-size: var(--gt-text-md);
}

.header-top-right button {
    font-size: var(--gt-text-md);
}

.header-top-right .btn-alarm {
    background: 0;
    border: 0;
    padding: 0;
    position: relative;
}

.alarm-wrap {
    background: var(--gt-write);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: none;
    padding: 0;
    position: absolute;
    top: 40px;
    right: 0;
    width: 450px;
    z-index: 99;
}

.alarm-top {
    border-bottom: 1px solid var(--gt-gray-04);
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
}

.alarm-top ul {
    align-items: center;
    display: flex;
    gap: 16px;
}

.alarm-top ul li {
    align-items: center;
    display: flex;
    cursor: pointer;
}

.alarm-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: scroll;
    height: 287px;
    max-height: 288px;
    margin: 16px 12px;
    padding: 8px 12px 12px 12px;
}

.alarm-body::-webkit-scrollbar {
    background: none;
    width: 10px;
}

.alarm-body::-webkit-scrollbar-thumb {
    background: var(--gt-gray-06);
}

.alarm-item p {
    color: var(--gt-black-01);
    font-size: 15px;
    margin: 0 0 12px 0;
}

.alarm-item ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.alarm-area {
    align-items: flex-start;
    display: flex;
}

.alarm-area img {
    border-radius: 100px;
    flex: 0 0 auto;
    height: 32px;
    margin: 0 12px 0 0;
    width: 32px;
}

.alarm-area h3 {
    color: var(--gt-black-01);
    font-size: var(--gt-text-md);
    font-weight: 400;
    line-height: 19px;
}

.alarm-area h3 span {
    color: var(--gt-gray-03);
    font-size: var(--gt-text-sm);
}

.alarm-area button {
    flex: 0 0 auto;
    margin: 0 0 0 24px;
    position: relative;
    right: 0;
}

.dropdown-group .header-user .dropdown-button {
    border: 0;
    border-radius: 0;
    height: auto;
    padding: 0 16px 0 0;
}

.dropdown-group .header-user .dropdown-button::after {
    background: url(../img/ico/i-arrow-down.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 12px;
    right: 0;
    width: 12px;
}

.dropdown-group .header-user .dropdown-button:hover {
    border: 0;
}

.dropdown-group .header-user .dropdown-button.active {
    border: 0;
    box-shadow: unset;
}

.dropdown-group .header-user .dropdown-list {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 12px;
    top: 40px;
    right: 0;
    width: 132px;
    z-index: 999;
}

.dropdown-group .header-user .dropdown-list li {
    height: auto;
    margin: 0 0 10px 0;
    padding: 0;
}

.dropdown-group .header-user .dropdown-list li:hover {
    background: none;
}

.dropdown-group .header-user .dropdown-list li:active {
    background: none;
}

.dropdown-group .header-user .dropdown-list li:last-child {
    margin: 0;
}

.dropdown-group .header-user .dropdown-list li a {
    align-items: center;
    color: var(--gt-gray-02);
    display: flex;
    gap: 4px;
}

.dropdown-group .header-user .dropdown-list hr {
    margin: 0 0 10px 0;
}

.header-catagory {
    border-top: 1px solid var(--gt-gray-04);
    border-bottom: 1px solid var(--gt-gray-05);
    padding: 8px 0;
}

.header-catagory .container {
    position: relative;
}

.header-catagory ul {
    align-items: center;
    display: flex;
    gap: 16px;
}

.header-catagory ul li a {
    color: var(--gt-black-03);
    font-size: var(--gt-text-md);
}

.all-catagory {
    align-items: center;
    color: var(--gt-black-03);
    cursor: pointer;
    display: flex;
    font-size: var(--gt-text-md);
    font-weight: bold;
    gap: 8px;
    margin: 0 16px 0 0;
}

.all-catagory-wrap {
    background: var(--gt-write);
    border: 1px solid var(--gt-gray-05);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: none;
    padding: 20px 36px;
    position: absolute;
    left: 0;
    top: 32px;
    width: 644px;
    z-index: 99;
}

.all-catagory-area {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.all-catagory-wrap dl {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: calc((100% / 4) - 16px);
}

.all-catagory-wrap dl dt a {
    color: var(--gt-black-01);
    font-size: var(--gt-text-md);
    font-weight: bold;
    line-height: 25px;
}

.all-catagory-wrap dl dd a {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-md);
    line-height: 25px;
}

/* **************************************** *
 * subheader
 * **************************************** */
.sub-header {
    align-items: center;
    border-bottom: 1px solid #D0D1D8;
    display: flex;
    gap: 8px;
    height: 56px;
    padding: 0 18px;
}

.sub-header h1 {
    color: #191A1C;
    font-size: 18px;
    font-weight: 500;
}

/* **************************************** *
 * footer
 * **************************************** */
.footer-top {
    background: var(--gt-gray-bg);
    padding: 40px 0 44px 0;
}

.footer-top .container {
    display: flex;
}

.footer-top-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 400px;
}

.footer-top-left img {
    height: 28px;
    width: min-content;
}

.footer-top-left p {
    color: var(--gt-gray-03);
    font-size: var(--gt-text-sm);
}

.footer-top-left button {
    background: var(--gt-write);
    border: 1px solid #555555;
    border-radius: 12px;
    color: var(--gt-gray-02);
    font-size: var(--gt-text-md);
    height: 34px;
    width: 105px;
}

.footer-top-left h6 {
    color: var(--gt-primary);
    font-size: var(--gt-text-sm);
    font-weight: 400;
    line-height: 21px;
}

.footer-top-right {
    display: flex;
    gap: 90px;
}

.footer-top-right dl {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 170px;
}

.footer-top-right dt {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-lg);
    font-weight: 700;
}

.footer-top-right dd a {
    color: var(--gt-gray-02);
    font-size: var(--gt-text-md);
}

.footer-nav {
    border-bottom: 1px solid var(--gt-gray-04);
    border-top: 1px solid var(--gt-gray-04);
    padding: 8px 0;
}

.footer-nav ul {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.footer-nav ul li a {
    color: var(--gt-black-03);
    font-size: var(--gt-text-md);
}

.footer-info {
    padding: 16px 0;
}

.footer-info h5 {
    color: var(--gt-gray-02);
    font-size: var(--gt-text-sm);
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.footer-info h6 {
    color: var(--gt-gray-03);
    font-size: var(--gt-text-mn);
    font-weight: 400;
    margin: 4px 0 8px 0;
    text-align: center;
}

.footer-info h6 span {
    color: var(--gt-gray-01);
}

.footer-info p {
    color: var(--gt-gray-03);
    font-size: var(--gt-text-mn);
    text-align: center;
}

/* **************************************** *
 * pc & mobile
 * **************************************** */

/* **************************************** *
 * table
 * **************************************** */

/* **************************************** *
 * pagination
 * **************************************** */
.pagination {
    justify-content: center;
}

.pagination ul {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2px;
}

.pagination ul li a {
    align-items: center;
    color: var(--gt-gray-04);
    font-size: var(--gt-text-md);
    font-weight: 400;
    display: flex;
    height: 36px;
    justify-content: center;
    width: 36px;
}

.pagination ul li.active a {
    color: var(--gt-black-03);
    font-weight: bold;
}

.pagination ul li.prev {
    cursor: not-allowed;
    opacity: 0.3;
    pointer-events: none;
    margin: 0 8px 0 0;
}

.pagination ul li.next {
    margin: 0 0 0 8px;
}

/* **************************************** *
 * depth
 * **************************************** */
.depth-group ul {
    align-items: center;
    display: flex;
    gap: 8px;
}

.depth-group ul li {
    align-items: center;
    color: #cccccc;
    font-size: 12px;
    display: flex;
}

.depth-group ul li a {
    align-items: center;
    color: var(--gt-gray-01);
    font-size: 12px;
    font-weight: 400;
    display: flex;
}

/* **************************************** *
 * product
 * **************************************** */
.product-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 285px;
    position: relative;
}

.product-img {
    background-size: cover;
    border-radius: 6px;
    height: 170px;
    width: 100%;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-info .info-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.user {
    align-items: center;
    color: var(--gt-gray-01);
    font-size: var(--gt-text-sm);
    font-weight: bold;
    display: flex;
    gap: 8px;
    position: relative;
}

.user.off::before {
    background: var(--gt-gray-05);
    border: 1px solid var(--gt-write);
    border-radius: 100px;
    content: '';
    display: inline-block;
    height: 8px;
    position: absolute;
    left: 16px;
    top: 16px;
    width: 8px;
    z-index: 1;
}

.user.on::before {
    background: var(--gt-success);
    border: 1px solid var(--gt-write);
    border-radius: 100px;
    content: '';
    display: inline-block;
    height: 8px;
    position: absolute;
    left: 16px;
    top: 16px;
    width: 8px;
    z-index: 1;
}

.user img {
    border-radius: 100px;
    height: 24px;
    position: relative;
    width: 24px;
}

.user.md.off::before {
    background: var(--gt-gray-05);
    border: 1px solid var(--gt-write);
    border-radius: 100px;
    content: '';
    display: inline-block;
    height: 12px;
    position: absolute;
    left: 24px;
    top: 24px;
    width: 12px;
    z-index: 1;
}

.user.md.on::before {
    background: var(--gt-success);
    border: 1px solid var(--gt-write);
    border-radius: 100px;
    content: '';
    display: inline-block;
    height: 12px;
    position: absolute;
    left: 24px;
    top: 24px;
    width: 12px;
    z-index: 1;
}

.user.md img {
    height: 36px;
    width: 36px;
}

.user-level {
    align-items: center;
    color: var(--gt-gray-01);
    display: flex;
    font-size: var(--gt-text-sm);
    font-weight: bold;
    gap: 2px;
}

.product-name {
    color: var(--gt-black-03);
    cursor: pointer;
    display: -webkit-box;
    font-size: 15px;
    font-weight: 400;
    height: 48px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.product-review {
    align-items: center;
    color: var(--gt-gray-01);
    font-size: var(--gt-text-sm);
    font-weight: bold;
    display: flex;
    gap: 4px;
}

.product-review span {
    color: var(--gt-gray-03);
    font-weight: 400;
}

.product-price {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-lg);
    font-weight: bold;
    text-align: left;
}

/* accordion */
.accordion-area {
    border-top: 1px solid #cccccc;
}

.accordion-item {
    border-bottom: 1px solid #cccccc;
}

.accordion-header {
    align-items: center;
    background-color: var(--gt-write);
    color: var(--gt-gray-01);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 16px 8px;

}

.accordion-header::after {
    background: url(../img/ico/i-arrow-down-g.png);
    background-size: cover;
    content: '';
    display: inline-block;
    flex: 0 0 auto;
    height: 16px;
    transition: all .5s;
    width: 16px;
}

.accordion-item.active .accordion-header::after {
    transform: rotate(-180deg);
    transition: all .5s;
}

.accordion-content {
    display: none;
    padding: 0 8px 12px 8px;
}

.accordion-content p {
    color: var(--gt-gray-02);
    font-weight: var(--gt-text-lg);
}

/* toggle */
.toggle-group {
    display: flex;
    width: 78px;
}

.toggle-group .toggle {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 78px;
}

.toggle-group input {
    display: noen;
}

.toggle-group .slider {
    background: var(--gt-gray-05);
    bottom: 0;
    border-radius: 100px;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: .4s;
    transition: .4s;
    right: 0;
}

.toggle-group .slider:before {
    align-items: center;
    background: var(--gt-write);
    bottom: 4px;
    border: 1px solid var(--gt-gray-05);
    border-radius: 100px;
    content: "OFF";
    color: var(--gt-gray-05);
    font-size: var(--gt-text-mn);
    display: flex;
    height: 26px;
    justify-content: center;
    left: 0px;
    position: absolute;
    top: 0;
    -webkit-transition: .4s;
    transition: .4s;
    width: 54px;
}

.toggle-group.active .slider:before {
    border: 1px solid var(--gt-secondary);
    content: 'ON';
    color: var(--gt-secondary);
}

.toggle-group input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* type2 */
.toggle-group.type2 {
    width: 96px;
}

.toggle-group.type2 .slider {
    width: 96px;
}

.toggle-group.type2 .slider:before {
    content: "접속 OFF";
    width: 68px;
}

.toggle-group.type2.active .slider:before {
    content: '접속 ON';
}

.toggle-group.type2 input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* progress */
.progress-group {
    align-items: center;
    display: flex;
}

.progress-group progress {
    appearance: none;
    width: 100%;
}

.progress-group progress::-webkit-progress-bar {
    background: var(--gt-gray-04);
    height: 4px;
    width: 100%;
    overflow: hidden;
}

.progress-group progress::-webkit-progress-value {
    background: var(--gt-secondary);
    border-radius: 0px;
    height: 4px;
    width: 48px;
}

/* progress pie */
.circle {
    border-radius: 100px;
    display: flex;
    font-size: 10px;
    height: 84px;
    position: relative;
    width: 84px;
}

.circle.success {
    background: var(--gt-success);
}

.circle.info {
    background: var(--gt-info);
}

.circle.warning {
    background: var(--gt-warning);
}

.inner-circle {
    background: #0C0057;
    border-radius: inherit;
    color: white;
    display: flex;
    height: 92%;
    justify-content: center;
    margin: auto;
    width: 92%;
}

.inner-circle span {
    align-items: center;
    color: var(--gt-write);
    display: flex;
    font-size: var(--gt-text-sm);
    font-weight: bold;
}

/**/
.rating-area {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-md);
    display: flex;
    gap: 12px;
}

.rating-group {
    display: flex;
    gap: 8px;
}

.rating-group input {
    display: none;
}

.rating-group .star {
    background: url(../img/ico/i-star.png);
    background-size: cover;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.rating-group .star.active {
    background: url(../img/ico/i-star-active.png);
    background-size: cover;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-selector button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.quantity-selector input {
    border: 0;
    color: var(--gt-black-01);
    font-size: var(--gt-text-md);
    font-weight: bold;
    text-align: center;
    width: 30px;
}

.quantity-selector input[type="number"]::-webkit-outer-spin-button,
.quantity-selector input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.open-modal {
    cursor: pointer;
}