@charset "utf-8";

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 700;
    font-display: swap;
    src: local('NotoSansKR Bold'),
        url('../font/NotoSans-Bold.woff2') format('woff2'),
        url('../font/NotoSans-Bold.woff') format('woff');
}


@font-face {
    font-family: 'NotoSansKR';
    font-weight: 400;
    font-display: swap;
    src: local('NotoSansKR Regular'),
        url('../font/NotoSans-Regular.woff2') format('woff2'),
        url('../font/NotoSans-Regular.woff') format('woff');
}

:root {
    --dropdown-placeholder: "Select an option";
    --gt-info: #10A9FF;
    --gt-success: #32C771;
    --gt-warning: #FF9659;
    --gt-error: #EB5757;
    --gt-primary: #371691;
    --gt-secondary: #5332C9;
    --gt-write: #ffffff;
    --gt-black-01: #000000;
    --gt-black-02: #1D1D1D;
    --gt-black-03: #282828;
    --gt-gray-01: #333333;
    --gt-gray-02: #4f4f4f;
    --gt-gray-03: #828282;
    --gt-gray-04: #bdbdbd;
    --gt-gray-05: #e0e0e0;
    --gt-gray-06: #f0f0f0;
    --gt-gray-07: #f5f5f5;
    --gt-primary-bg: #F4F3FD;
    --gr-gray-bg: #F7F7FA;
    --gt-body-font-size: 16px;
    --gt-body-font-weight: 400;
    --gt-font-sans-serif: 'NotoSansKR', sans-serif;
    --gt-text-lg: 16px;
    --gt-text-md: 14px;
    --gt-text-sm: 13px;
    --gt-text-mn: 12px;
}

* {
    box-sizing: border-box;
}

:root,
html {
    font-size: var(--gt-body-font-size);
}

body {
    font-family: var(--gt-font-sans-serif);
    font-size: var(--gt-body-font-size);
    font-weight: var(--gt-body-font-weight);
    line-height: 1.5;
    margin: 0;
}

a {
    transition: .5s all;
    text-decoration: none;
}

a:hover,
a:focus {
    transition: .5s all;
}

dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

button,
input,
textarea {
    font-family: 'NotoSansKR', sans-serif;
}

input:focus,
input:hover {
    outline: none;
}

textarea {
    overflow: auto
}

table {
    caption-side: bottom;
    border-collapse: collapse
}

caption {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #6c757d;
    text-align: left
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0
}

select {
    word-wrap: normal
}

select:disabled {
    opacity: 1
}

[list]::-webkit-calendar-picker-indicator {
    display: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

progregt {
    vertical-align: baseline
}

h1,
.h1 {
    font-size: 30px;
    line-height: 38px;
}

h2,
.h2 {
    font-size: 26px;
    line-height: 35px;
}

h3,
.h3 {
    font-size: 24px;
    line-height: 33px;
}

h4,
.h4 {
    font-size: 22px;
    line-height: 30px;
}

h5,
.h5 {
    font-size: 20px;
    line-height: 26px;
}

h6,
.h6 {
    font-size: 18px;
    line-height: 24px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}

.col {
    flex: 1 0 0%
}


.col-auto {
    flex: 0 0 auto;
    width: auto
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%
}

.col-3 {
    flex: 0 0 auto;
    width: 25%
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%
}

.col-6 {
    flex: 0 0 auto;
    width: 50%
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%
}

.col-9 {
    flex: 0 0 auto;
    width: 75%
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%
}

.col-12 {
    flex: 0 0 auto;
    width: 100%
}

/* **************************************** *
 * Common
 * **************************************** */
.common-wrap .header {
    align-items: center;
    background: #2C478E;
    display: flex;
    height: 60px;
    padding: 0 20px;
}

.common-wrap .header h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.common-body {
    display: flex;
    flex-direction: row;
}

.common-body aside {
    background: #F4F5F7;
    height: auto;
    padding: 20px;
    width: 200px;
}

.common-body aside ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.common-body aside ul li a {
    color: #333;
    font-size: 16px;
}

.common-element {
    padding: 20px;
    width: calc(100% - 200px);
}

.common-element table {
    margin: 0 0 20px 0;
    width: 100%;
}

.common-element tr:nth-child(1) {
    height: 40px;
}

.common-element tr td {
    font-size: 14px;
}

.common-element tr td:nth-child(1) {
    width: 100px;
}

.b-0 {
    border: 0 !important;
}

.p-none {
    padding: 0 !important;
}

/* **************************************** *
 * Button
 * **************************************** */
button {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: center;
    transition: .5s all;
}

button:hover,
button:focus {
    transition: .5s all;
}

.btn-group {
    align-items: center;
    display: flex;
    gap: 8px;
}

.btn-group>button {
    flex: 0 0 auto;
}

.btn-group.flex-end {
    justify-content: flex-end;
}

.btn {
    border: 0;
    border-radius: 6px;
}

.btn.flex {
    display: flex;
    gap: 4px;
}

.btn-mini {
    height: 35px;
    width: 98px;
}

.btn-sm {
    height: 35px;
    width: 150px;
}

.btn-md {
    height: 45px;
    width: 156px;
}

.btn-md.w-200 {
    width: 200px;
}

.btn-lg {
    height: 50px;
    width: 190px;
}

.btn-xl {
    height: 55px;
    width: 330px;
}

.btn-primary {
    background: var(--gt-primary);
    border: 1px solid var(--gt-primary);
    color: var(--gt-write);
}

.btn-primary:hover {
    background: var(--gt-gray-02);
    border: 1px solid var(--gt-gray-02);
    color: var(--gt-write);
}

.btn-primary:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-secondary {
    background: var(--gt-secondary);
    color: var(--gt-write);
}

.btn-secondary:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-outline-secondary {
    background: var(--gt-write);
    border: 1px solid var(--gt-secondary);
    color: var(--gt-secondary);
}

.btn-outline-secondary:disabled {
    background: var(--gt-gray-06);
    border: 1px solid var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-success {
    background: var(--gt-success);
    color: var(--gt-write);
}

.btn-success:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-info {
    background: var(--gt-info);
    color: var(--gt-write);
}

.btn-info:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-warning {
    background: var(--gt-warning);
    color: var(--gt-write);
}

.btn-warning:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-black {
    background: var(--gt-black-03);
    color: var(--gt-write) !important;
}

.btn-black:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-gray {
    background: #666666;
    color: #ffffff;
}

.btn-gray:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-outline-gray {
    background: var(--gt-write);
    border: 1px solid var(--gt-gray-04);
    color: var(--gt-black-03);
}

.btn-outline-gray:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-error {
    background: var(--gt-error);
    color: var(--gt-write);
}

.btn-error:disabled {
    background: var(--gt-gray-06);
    color: var(--gt-gray-04);
}

.btn-heart {
    background: url(../img/ico/i-heart-off.png);
    background-size: cover;
    border: 0;
    height: 22px;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 26px;
}

.btn-heart.active {
    background: url(../img/ico/i-heart-on.png);
    background-size: cover;
}

.btn-alarm-close {
    background: url(../img/ico/i-x-g.png);
    background-size: cover;
    border: 0;
    height: 16px;
    padding: 0;
    width: 16px;
}

/* **************************************** *
 * MODAL
 * **************************************** */
.gt-modal-wrap {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.gt-modal-wrap.active {
    display: flex;
}

.gt-modal-inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.gt-modal-content {
    background-color: #fff;
    max-width: 90%;
    opacity: 0;
    padding: 24px 32px;
    position: relative;
    transform: translateY(-50px);
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.gt-modal-wrap.active .gt-modal-content {
    opacity: 1;
    transform: translateY(0);
}

/* 추가된 스타일: 애니메이션 초기화 */
.gt-modal-wrap.active .gt-modal-inner {
    animation: modalSlideDown 0.5s ease;
}

@keyframes modalSlideDown {
    from {
        transform: translateY(-30px);
    }

    to {
        transform: translateY(0);
    }
}

.gt-modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.gt-modal-header button {
    background: none;
    border: 0;
    padding: 0;
}

.gt-modal-title {
    color: var(--gt-black-03);
    font-size: 22px;
}

.gt-modal-footer {
    padding: 12px 16px;
}

.gt-modal-footer .gt-btn-group {
    justify-content: flex-end;
}

/* modal size */
.gt-modal-mini {
    width: 300px;
}

.gt-modal-sm {
    width: 360px;
}

.gt-modal-md {
    width: 500px;
}

.gt-modal-lg {
    width: 550px;
}

/* content-modal */

/* **************************************** *
 * container
 * **************************************** */
.wrap {
    min-width: 1200px;
}

/* **************************************** *
 * Text
 * **************************************** */
h1.title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

h2.title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

h3.title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}


/* **************************************** *
 * Card
 * **************************************** */
.gt-card-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gt-card {
    background: #F6F6F9;
}

.gt-card-header {
    border-bottom: 2px solid #EBEBF1;
    padding: 20px 20px 16px 20px;
}

.gt-card-header h3 {
    align-items: center;
    color: #191A1C;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    gap: 12px;
}

.gt-card-header h3::before {
    background: #3B5AAB;
    border-radius: 2px;
    content: '';
    display: inline-block;
    height: 16px;
    width: 3px;
}

.gt-card-body {
    padding: 16px 20px 20px 20px;
}

.gt-card-body .dl-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gt-card-body dl {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.gt-card-body dt {
    color: #5C5D62;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}

.gt-card-body dt span {
    color: #FF6421;
    margin: 0 0 0 4px;
}

.gt-card-body dd {
    color: #191A1C;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    width: 100%;
}



@media (min-width: 992px) {
    .gt-card-wrap {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .gt-card {
        border-radius: 6px;
        background: #F6F6F9;
    }

    .gt-card-header {
        border-bottom: 2px solid #EBEBF1;
        padding: 20px 20px 16px 20px;
    }

    .gt-card-header h3 {
        align-items: center;
        color: #191A1C;
        display: flex;
        font-size: 16px;
        font-weight: 500;
        gap: 12px;
    }

    .gt-card-header h3::before {
        background: #3B5AAB;
        border-radius: 2px;
        content: '';
        display: inline-block;
        height: 16px;
        width: 3px;
    }

    .gt-card-body {
        padding: 16px 20px 20px 20px;
    }

    .gt-card-body .dl-group {
        display: flex;
        flex-direction: column;
        gap: 12px
    }

    .gt-card-body dl {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 32px;
        gap: 8px;
    }

    .gt-card-body dt {
        color: #5C5D62;
        font-size: 13px;
        font-weight: 500;
        flex: 0 0 auto;
        width: 160px;
    }

    .gt-card-body dd {
        color: #191A1C;
        font-size: 14px;
        font-weight: 400;
    }
}

/* **************************************** *
 * input
 * **************************************** */
/* input text */
.input-wrap {
    display: flex;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-area {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
}

.input-area span {
    color: #5C5D62;
}

.input-area button {
    flex: 0 0 auto;
}

.input-group label {
    color: #5C5D62;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 12px 0;
    text-align: left;
}

.input-group input[type=text],
.input-group input[type=password] {
    background: var(--gt-write);
    border: 1px solid var(--gt-gray-05);
    border-radius: 6px;
    color: var(--gt-gray-01);
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    padding: 0 16px;
    transition: all .5s;
    width: 100%;
}

.input-group input[type=text]:focus,
.input-group input[type=password]:focus {
    border: 1px solid var(--gt-gray-03);
}

.input-group input[type=text]::placeholder,
.input-group input[type=password]::placeholder {
    color: var(--gt-gray-04);
}

.input-group input[type=text]:disabled,
.input-group input[type=password]:disabled {
    background: var(--gt-write);
    border: 1px solid var(--gt-gray-05);
    color: var(--gt-gray-04);
}

.input-group p {
    align-items: center;
    color: var(--gt-gray-04);
    display: flex;
    font-size: var(--gt-text-sm);
    justify-content: space-between;
    margin: 4px 0 0 0;
}

.input-group p span {
    color: var(--gt-gray-03);
    font-size: var(--gt-text-mn);
}

/* md */
.input-group.md input[type=text],
.input-group.md input[type=password] {
    font-size: var(--gt-text-lg);
    height: 55px;
    padding: 0 20px;
}

/* input error */
.input-group.error input[type=text],
.input-group.error input[type=password] {
    border: 1px solid var(--gt-error);
}

.input-group.error p {
    color: var(--gt-error);
}

/* input sucess */
.input-group.success input[type=text],
.input-group.success input[type=password] {
    border: 1px solid var(--gt-success);
}

.input-group.success p {
    color: var(--gt-success);
}

/* input sucess */
.input-group.warning input[type=text],
.input-group.warning input[type=password] {
    border: 1px solid var(--gt-warning);
}

.input-group.warning p {
    color: var(--gt-warning);
}

/* input pw icon */
.input-group .btn-pw-eyes {
    background: url(../img/ico/i-eyes-on.png);
    background-size: cover;
    border: 0;
    height: 26px;
    padding: 0;
    position: absolute;
    right: 16px;
    width: 26px;
}

/* search */
.input-search {
    position: relative;
}

.input-search input[type=text] {
    background: #fff;
    border: 1px solid var(--gt-secondary);
    border-radius: 12px;
    color: var(--gt-gray-01);
    font-size: var(--gt-text-sm);
    font-weight: 400;
    height: 40px;
    padding: 0 16px 0 46px;
    transition: all .5s;
    width: 100%;
}

.input-search input[type=text]::placeholder {
    color: var(--gt-gray-04);
}

.input-search button {
    background: none;
    border: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}

/* checkbox */
.check-wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.check-group {
    align-items: center;
    display: flex;
}

.check-group input[type=checkbox] {
    display: none;
}

.check-group label {
    align-items: center;
    cursor: pointer;
    color: var(--gt-gray-01);
    font-size: var(--gt-text-md);
    display: flex;
    gap: 8px;
}

.check-group label b {
    font-weight: 500;
}

.check-group label .underline {
    text-decoration: underline;
}

.check-group label::before {
    background: url(../img/ico/i-checkbox.png);
    background-size: cover;
    border-radius: 4px;
    content: '';
    display: inline-block;
    flex: 0 0 auto;
    height: 20px;
    transition: all 0.3s ease;
    width: 20px;
}

.check-group input[type=checkbox]:checked+label {
    color: var(--gt-secondary);
    text-decoration: line-through;
}

.check-group input[type=checkbox]:checked:disabled+label {
    color: var(--gt-gray-04);
    text-decoration: none;
}

.check-group input[type=checkbox]:checked+label::before {
    background: url(../img/ico/i-checkbox-checked.png);
    background-size: cover;
    border: 0;
    transition: all 0.3s ease;
}

.check-group input[type=checkbox]:hover+label::before,
.check-group input[type=checkbox]:focus+label::before {
    background: url(../img/ico/i-checkbox-active.png);
    background-size: cover;
    transition: all 0.3s ease;
}

.check-group input[type=checkbox]:checked:hover+label::before,
.check-group input[type=checkbox]:checked:focus+label::before {
    background: url(../img/ico/i-checkbox-checked.png);
    background-size: cover;
    transition: all 0.3s ease;
}

.check-group input[type=checkbox]:disabled+label::before,
.check-group input[type=checkbox]:checked:disabled+label::before {
    background: url(../img/ico/i-checkbox-disabled.png);
    background-size: cover;
}

.check-group.type2 label {
    align-items: flex-start;
    gap: 0;
}

.check-group.type2 label::before {
    margin: 0 8px 0 0;
}


/* radio */
.radio-wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.radio-group {
    align-items: center;
    display: flex;
}

.radio-group input[type=radio] {
    display: none;
}

.radio-group label {
    align-items: center;
    cursor: pointer;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 8px;
}

.radio-group label::before {
    background: url(../img/ico/i-radio.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 18px;
    width: 18px;
}

.radio-group input[type=radio]:hover+label::before,
.radio-group input[type=radio]:focus+label::before {
    border-radius: 100px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #3B5AAB;
    transition: box-shadow 0.3s ease;
}

.radio-group input:checked+label::before {
    background: url(../img/ico/i-radio-checked.png);
    background-size: cover;
}

.radio-group input:disabled+label::before {
    background: url(../img/ico/i-radio-disabled.png);
    background-size: cover;
}

.radio-group input:checked:disabled+label::before {
    background: url(../img/ico/i-radio-checked-disabled.png);
    background-size: cover;
}

.radio-group input:checked:hover+label::before,
.radio-group input:disabled:hover+label::before {
    box-shadow: none;
}

/* textarea */
.gt-input-group.textarea {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gt-input-group.textarea label {
    color: #5C5D62;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.gt-input-group textarea {
    background: #fff;
    border: 1px solid #D0D1D8;
    border-radius: 6px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    height: 140px;
    padding: 12px 16px;
    width: 100%;
}

.gt-input-group textarea:disabled {
    background: #F6F6F9;
    border: 1px solid #EBEBF1;
    color: #191A1C;
}

.gt-input-group textarea:focus {
    outline: none;
}

.gt-input-group textarea::placeholder {
    color: #B0B0B7;
}

/* input date */
.date-group {
    align-items: baseline;
    display: flex;
}

.date-group h2 {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    flex: 0 0 auto;
    width: 104px;
}

.date-group .date-wrap {
    align-items: center;
    display: flex;
    gap: 8px;
    width: 100%;
}

.date-group input[type="date"]::-webkit-calendar-picker-indicator,
.date-group input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}

.date-group input[type=date] {
    background: #fff;
    border: 1px solid #D0D1D8;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    justify-content: flex-start;
    height: 32px;
    padding: 0 12px 0 16px;
    position: relative;
    transition: all .5s;
    width: 100%;
}

.date-group input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(../img/ico/i-datepicker.png) no-repeat right;
    background-size: 80%;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 16px;
    opacity: 1;
    width: 16px;
}

.date-group input[type=date]:hover {
    border: 1px solid #3B5AAB;
    transition: all .5s;
}

.date-group input[type=date]:focus {
    border: 1px solid #3B5AAB;
    box-shadow: 0 0 0 2px #3B5AAB;
    transition: box-shadow .5s;
}

/* input file */
.file-group {
    align-items: center;
    display: flex;
}

.file-group h2 {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    flex: 0 0 auto;
    width: 104px;
}

.file-group input[type=file] {
    display: none;
}

.file-group label {
    align-items: center;
    background: #666;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    height: 32px;
    padding: 0 16px;
}

.file-group span {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 16px;
}

/* dropdown-group */
.dropdown-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dropdown-group h2 {
    color: #5C5D62;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}

.dropdown-group .dropdown-list-wrap {
    position: relative;
    width: 100%;
}

.dropdown-group .dropdown-list-wrap .dropdown-button {
    background: #fff;
    border: 1px solid #D0D1D8;
    border-radius: 6px;
    color: #B0B0B7;
    font-size: 14px;
    font-weight: 400;
    justify-content: flex-start;
    height: 32px;
    padding: 0 16px;
    position: relative;
    width: 100%;
}

.dropdown-group .dropdown-list-wrap .dropdown-button .placeholder {
    background: none;
    color: #B0B0B7;
    font-size: 14px;
    opacity: 1;
}

.dropdown-group .dropdown-list-wrap .dropdown-button::after {
    background: url(../img/ico/i-dropdown-arrow-down.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 16px;
    position: absolute;
    transform: rotate(0);
    transition: all .5s;
    right: 12px;
    width: 16px;
}

.dropdown-group .dropdown-list-wrap .dropdown-button.active::after {
    transform: rotate(-180deg);
    transition: all .5s;
}

.dropdown-group .dropdown-list-wrap .dropdown-button:hover {
    border: 1px solid #3B5AAB;
}

.dropdown-group .dropdown-list-wrap .dropdown-button.active {
    border: 1px solid #3B5AAB;
    box-shadow: 0 0 0 2px #3B5AAB;
    transition: box-shadow 0.3s ease;
}

.dropdown-group .dropdown-list-wrap .dropdown-button.disabled {
    background: #EBEBF1;
    border: 1px solid #D0D1D8;
}

.dropdown-group .dropdown-list-wrap .dropdown-button.disabled .placeholder {
    color: #B0B0B7;
}

.dropdown-group .dropdown-list-wrap .dropdown-list {
    background: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.20);
    display: none;
    margin: 4px 0 0 0;
    position: absolute;
    padding: 4px;
    width: 100%;
    z-index: 1;
}

.dropdown-group .dropdown-list-wrap .dropdown-list li {
    align-items: center;
    border-radius: 4px;
    color: #191A1C;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    padding: 0 16px;
}

.dropdown-group .dropdown-list-wrap .dropdown-list li:hover {
    background: #F2F6FB;
}

.dropdown-group .dropdown-list-wrap .dropdown-list li:active {
    background: #E5ECF6;
}

.dropdown-group .dropdown-list-wrap .dropdown-list hr {
    border: 1px solid #EBEBF1;
    margin: 4px 0;
}

/* type2 */
.dropdown-group.type2 .dropdown-list-wrap .dropdown-button {
    border: 1px solid #fff;
    transform: border .3s ease;
}

.dropdown-group.type2 .dropdown-list-wrap .dropdown-button:hover {
    border: 1px solid #D0D1D8;
    transform: border .3s ease;
}

.dropdown-group.type2 .dropdown-list-wrap .dropdown-button.active {
    box-shadow: none;
}


/* **************************************** *
 * tab
 * **************************************** */
.tabs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tab-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.tab-button {
    align-items: center;
    background: #EBEBF1;
    border-top: 2px solid #5C5D62;
    border-bottom: 1px solid #D0D1D8;
    color: #828286;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    height: 44px;
    width: 50%;
}

.tab-button.active {
    background: #fff;
    border-color: #38393F;
    border-left: 1px solid #D0D1D8;
    border-right: 1px solid #D0D1D8;
    border-bottom: 0;
    color: #191A1C;
}

.tab-content {
    display: none;
}

.custom-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.custom-tab {
    align-items: center;
    background: #fff;
    border: 1px solid #D0D1D8;
    border-radius: 100px;
    color: #191A1C;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    padding: 0 12px;
}

.custom-tab.selected {
    background: #E5ECF6;
    border-color: #3B5AAB;
    color: #2C478E;
}

@media (min-width: 992px) {
    .custom-tab {
        font-size: 16px;
        height: 40px;
        padding: 0 16px;
    }
}

/* **************************************** *
 * Header
 * **************************************** */
.header-top {
    padding: 36px 0 16px 0;
}

.header-top .container {
    display: flex;
}

.header-logo {
    align-items: center;
    display: flex;
}

.header .input-search {
    margin: 0 0 0 28px;
    width: 390px;
}

.header-logo img {
    height: 28px;
}

.header-top-right {
    align-items: center;
    display: flex;
    gap: 24px;
    margin: 0 0 0 auto;
}

.header-top-right .language {
    align-items: center;
    color: #5C5A54;
    cursor: pointer;
    font-size: var(--gt-text-md);
    display: flex;
    gap: 4px;
}

.header-top-right li {
    display: flex;
    position: relative;
}

.header-top-right li a {
    color: var(--gt-black-01);
    display: flex;
    font-size: var(--gt-text-md);
}

.header-top-right button {
    font-size: var(--gt-text-md);
}

.header-top-right .btn-alarm {
    background: 0;
    border: 0;
    padding: 0;
    position: relative;
}

.alarm-wrap {
    background: var(--gt-write);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: none;
    padding: 24px 28px;
    position: absolute;
    top: 40px;
    right: 0;
    width: 450px;
    z-index: 99;
}

.alarm-top {
    display: flex;
    justify-content: space-between;
}

.alarm-top ul {
    align-items: center;
    display: flex;
    gap: 16px;
}

.alarm-top ul li {
    align-items: center;
    display: flex;
    cursor: pointer;
}

.alarm-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 0 0 0;
}

.alarm-item p {
    color: var(--gt-black-01);
    font-size: 15px;
    margin: 0 0 12px 0;
}

.alarm-item ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.alarm-area {
    align-items: flex-start;
    display: flex;
}

.alarm-area img {
    border-radius: 100px;
    flex: 0 0 auto;
    height: 32px;
    margin: 0 12px 0 0;
    width: 32px;
}

.alarm-area h3 {
    color: var(--gt-black-01);
    font-size: var(--gt-text-md);
    font-weight: 400;
    line-height: 19px;
}

.alarm-area h3 span {
    color: var(--gt-gray-03);
    font-size: var(--gt-text-sm);
}

.alarm-area button {
    flex: 0 0 auto;
    margin: 0 0 0 24px;
}

.dropdown-group .header-user .dropdown-button {
    border: 0;
    border-radius: 0;
    height: auto;
    padding: 0 16px 0 0;
}

.dropdown-group .header-user .dropdown-button::after {
    background: url(../img/ico/i-arrow-down.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 12px;
    right: 0;
    width: 12px;
}

.dropdown-group .header-user .dropdown-button:hover {
    border: 0;
}

.dropdown-group .header-user .dropdown-button.active {
    border: 0;
    box-shadow: unset;
}

.dropdown-group .header-user .dropdown-list {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 12px;
    top: 40px;
    right: 0;
    width: 132px;
}

.dropdown-group .header-user .dropdown-list li {
    height: auto;
    margin: 0 0 10px 0;
    padding: 0;
}

.dropdown-group .header-user .dropdown-list li:hover {
    background: none;
}

.dropdown-group .header-user .dropdown-list li:active {
    background: none;
}

.dropdown-group .header-user .dropdown-list li:last-child {
    margin: 0;
}

.dropdown-group .header-user .dropdown-list li a {
    align-items: center;
    color: var(--gt-gray-02);
    display: flex;
    gap: 4px;
}

.dropdown-group .header-user .dropdown-list hr {
    margin: 0 0 10px 0;
}

.header-catagory {
    border-top: 1px solid var(--gt-gray-04);
    border-bottom: 1px solid var(--gt-gray-05);
    padding: 8px 0;
}

.header-catagory .container {
    position: relative;
}

.header-catagory ul {
    align-items: center;
    display: flex;
    gap: 16px;
}

.header-catagory ul li a {
    color: var(--gt-black-03);
    font-size: var(--gt-text-md);
}

.all-catagory {
    align-items: center;
    color: var(--gt-black-03);
    cursor: pointer;
    display: flex;
    font-size: var(--gt-text-md);
    font-weight: bold;
    gap: 8px;
    margin: 0 16px 0 0;
}

.all-catagory-wrap {
    background: var(--gt-write);
    border: 1px solid var(--gt-gray-05);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: none;
    padding: 20px 36px;
    position: absolute;
    left: 0;
    top: 32px;
    width: 644px;
    z-index: 99;
}

.all-catagory-area {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.all-catagory-wrap dl {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: calc((100% / 4) - 16px);
}

.all-catagory-wrap dl dt a {
    color: var(--gt-black-01);
    font-size: var(--gt-text-md);
    font-weight: bold;
    line-height: 25px;
}

.all-catagory-wrap dl dd a {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-md);
    line-height: 25px;
}

/* **************************************** *
 * subheader
 * **************************************** */
.sub-header {
    align-items: center;
    border-bottom: 1px solid #D0D1D8;
    display: flex;
    gap: 8px;
    height: 56px;
    padding: 0 18px;
}

.sub-header h1 {
    color: #191A1C;
    font-size: 18px;
    font-weight: 500;
}

/* **************************************** *
 * footer
 * **************************************** */
.footer-top {
    background: var(--gt-primary-bg);
    padding: 40px 0 44px 0;
}

.footer-top .container {
    display: flex;
}

.footer-top-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 400px;
}

.footer-top-left img {
    height: 28px;
    width: min-content;
}

.footer-top-left p {
    color: var(--gt-gray-03);
    font-size: var(--gt-text-sm);
}

.footer-top-left button {
    background: var(--gt-write);
    border: 1px solid #555555;
    border-radius: 12px;
    color: var(--gt-gray-02);
    font-size: var(--gt-text-md);
    height: 34px;
    width: 105px;
}

.footer-top-left h6 {
    color: var(--gt-primary);
    font-size: var(--gt-text-sm);
    font-weight: 400;
    line-height: 21px;
}

.footer-top-right {
    display: flex;
    gap: 90px;
}

.footer-top-right dl {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 170px;
}

.footer-top-right dt {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-lg);
    font-weight: 700;
}

.footer-top-right dd a {
    color: var(--gt-gray-02);
    font-size: var(--gt-text-md);
}

.footer-nav {
    border-bottom: 1px solid var(--gt-gray-04);
    border-top: 1px solid var(--gt-gray-04);
    padding: 8px 0;
}

.footer-nav ul {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.footer-nav ul li a {
    color: var(--gt-black-03);
    font-size: var(--gt-text-md);
}

.footer-info {
    padding: 16px 0;
}

.footer-info h5 {
    color: var(--gt-gray-02);
    font-size: var(--gt-text-sm);
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.footer-info h6 {
    color: var(--gt-gray-03);
    font-size: var(--gt-text-mn);
    font-weight: 400;
    margin: 4px 0 8px 0;
    text-align: center;
}

.footer-info h6 span {
    color: var(--gt-gray-01);
}

.footer-info p {
    color: var(--gt-gray-03);
    font-size: var(--gt-text-mn);
    text-align: center;
}

/* **************************************** *
 * pc & mobile
 * **************************************** */

/* **************************************** *
 * table
 * **************************************** */

/* **************************************** *
 * pagination
 * **************************************** */
.pagination {
    margin: 8px 0 0 0;
    justify-content: center;
}

.pagination ul {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2px;
}

.pagination ul li a {
    align-items: center;
    border-radius: 4px;
    color: #5C5D62;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    height: 24px;
    justify-content: center;
    width: 24px;
}

.pagination ul li.active a {
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(25, 26, 28, 0.20);
    color: #2C478E;
    font-weight: 600;
}

.pagination ul li.prev {
    opacity: 0.3;
    pointer-events: none;
    cursor: not-allowed;
}

/* **************************************** *
 * depth
 * **************************************** */
.depth-group ul {
    align-items: center;
    display: flex;
    gap: 8px;
}

.depth-group ul li {
    align-items: center;
    display: flex;
}

.depth-group ul li a {
    align-items: center;
    color: #828286;
    font-size: 12px;
    font-weight: 400;
    display: flex;
}

.depth-group ul li:last-child a {
    color: #38393F;
    font-size: 12px;
    font-weight: 600;
}

/* **************************************** *
 * product
 * **************************************** */
.product-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 285px;
    position: relative;
}

.product-img {
    background-size: cover;
    border-radius: 6px;
    height: 170px;
    width: 100%;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-info .info-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.user {
    align-items: center;
    color: var(--gt-gray-01);
    font-size: var(--gt-text-sm);
    font-weight: bold;
    display: flex;
    gap: 8px;
    position: relative;
}

.user.off::before {
    background: var(--gt-gray-05);
    border: 1px solid var(--gt-write);
    border-radius: 100px;
    content: '';
    display: inline-block;
    height: 8px;
    position: absolute;
    left: 16px;
    top: 16px;
    width: 8px;
    z-index: 1;
}

.user.on::before {
    background: var(--gt-success);
    border: 1px solid var(--gt-write);
    border-radius: 100px;
    content: '';
    display: inline-block;
    height: 8px;
    position: absolute;
    left: 16px;
    top: 16px;
    width: 8px;
    z-index: 1;
}

.user img {
    border-radius: 100px;
    height: 24px;
    position: relative;
    width: 24px;
}

.user.md.off::before {
    background: var(--gt-gray-05);
    border: 1px solid var(--gt-write);
    border-radius: 100px;
    content: '';
    display: inline-block;
    height: 12px;
    position: absolute;
    left: 24px;
    top: 24px;
    width: 12px;
    z-index: 1;
}

.user.md.on::before {
    background: var(--gt-success);
    border: 1px solid var(--gt-write);
    border-radius: 100px;
    content: '';
    display: inline-block;
    height: 12px;
    position: absolute;
    left: 24px;
    top: 24px;
    width: 12px;
    z-index: 1;
}

.user.md img {
    height: 36px;
    width: 36px;
}

.user-level {
    align-items: center;
    color: var(--gt-gray-01);
    display: flex;
    font-size: var(--gt-text-sm);
    font-weight: bold;
    gap: 2px;
}

.product-name {
    color: var(--gt-black-03);
    cursor: pointer;
    display: -webkit-box;
    font-size: 15px;
    font-weight: 400;
    height: 48px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.product-review {
    align-items: center;
    color: var(--gt-gray-01);
    font-size: var(--gt-text-sm);
    font-weight: bold;
    display: flex;
    gap: 4px;
}

.product-review span {
    color: var(--gt-gray-03);
    font-weight: 400;
}

.product-price {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-lg);
    font-weight: bold;
    text-align: left;
}