@charset "utf-8";

.ico {
    background-size: cover !important;
    display: inline-block;
}

.i-search-p {
    background: url(../img/ico/i-search-p.png);
    height: 20px;
    width: 20px;
}

.i-language {
    background: url(../img/ico/i-language.png);
    height: 24px;
    width: 24px;
}

.i-catagory {
    background: url(../img/ico/i-catagory.png);
    height: 12px;
    width: 12px;
}

.i-modal-close {
    background: url(../img/ico/i-modal-close.png);
    height: 22px;
    width: 22px;
}

.i-star {
    background: url(../img/ico/i-star.png);
    height: 16px;
    width: 16px;
}

.i-star-active {
    background: url(../img/ico/i-star-active.png);
    height: 16px;
    width: 16px;
}

.i-star-half {
    background: url(../img/ico/i-star-half.png);
    height: 16px;
    width: 16px;
}

.i-top {
    background: url(../img/ico/i-top.png);
    height: 18px;
    width: 18px;
}

.i-pro {
    background: url(../img/ico/i-pro.png);
    height: 18px;
    width: 18px;
}

.i-google {
    background: url(../img/ico/i-google.png);
    height: 28px;
    width: 28px;
}

.i-apple {
    background: url(../img/ico/i-apple.png);
    height: 28px;
    width: 28px;
}

.i-heart {
    background: url(../img/ico/i-heart.png);
    height: 24px;
    width: 24px;
}

.i-chat {
    background: url(../img/ico/i-chat.png);
    height: 24px;
    width: 24px;
}

.i-alarm {
    background: url(../img/ico/i-alarm.png);
    height: 24px;
    width: 24px;
}

.i-trash {
    background: url(../img/ico/i-trash.png);
    height: 20px;
    width: 20px;
}

.i-set {
    background: url(../img/ico/i-set.png);
    height: 20px;
    width: 20px;
}

.i-modal-close-g {
    background: url(../img/ico/i-x-g.png);
    height: 16px;
    width: 16px;
}

.i-arrow-down {
    background: url(../img/ico/i-arrow-down.png);
    height: 12px;
    width: 12px;
}

.i-logout {
    background: url(../img/ico/i-logout.png);
    height: 16px;
    width: 16px;
}

.i-google-logo {
    background: url(../img/ico/i-google-logo.png);
    height: 28px;
    width: 28px;
}

.i-mail {
    background: url(../img/ico/i-mail.png);
    height: 28px;
    width: 28px;
}

.i-back {
    background: url(../img/ico/i-back.png);
    height: 16px;
    width: 16px;
}

.i-home {
    background: url(../img/ico/i-home.png);
    height: 16px;
    width: 16px;
}

.i-page-next {
    background: url(../img/ico/i-page-next.png);
    height: 36px;
    width: 36px;
}

.i-page-prev {
    background: url(../img/ico/i-page-next.png);
    transform: rotate(180deg);
    height: 36px;
    width: 36px;
}

.i-info {
    background: url(../img/ico/i-info.png);
    height: 12px;
    width: 12px;
}

.i-search {
    background: url(../img/ico/i-search.png);
    height: 18px;
    width: 18px;
}

.i-heart-pink {
    background: url(../img/ico/i-heart-p.png);
    height: 20px;
    width: 20px;
}

.i-heart-blue {
    background: url(../img/ico/i-heart-blue.png);
    height: 24px;
    width: 24px;
}

.i-share-blue {
    background: url(../img/ico/i-share.png);
    height: 24px;
    width: 24px;
}

.i-facebook {
    background: url(../img/ico/i-facebook.png);
    height: 40px;
    width: 40px;
}

.i-linkedln {
    background: url(../img/ico/i-linkedln.png);
    height: 40px;
    width: 40px;
}

.i-twitter {
    background: url(../img/ico/i-twitter.png);
    height: 40px;
    width: 40px;
}

.i-kakaotalk {
    background: url(../img/ico/i-kakaotalk.png);
    height: 40px;
    width: 40px;
}

.i-linkshare {
    background: url(../img/ico/i-linkshare.png);
    height: 40px;
    width: 40px;
}

.i-heart-g {
    background: url(../img/ico/i-heart-g.png);
    height: 14px;
    width: 14px;
}

.i-time {
    background: url(../img/ico/i-time.png);
    height: 14px;
    width: 14px;
}

.i-detail-time {
    background: url(../img/ico/i-detail-time.png);
    height: 18px;
    width: 18px;
}

.i-detail-edit {
    background: url(../img/ico/i-detail-edit.png);
    height: 18px;
    width: 18px;
}

.i-detail-dialog {
    background: url(../img/ico/i-dialog.png);
    height: 18px;
    width: 18px;
}

.i-detail-as {
    background: url(../img/ico/i-as.png);
    height: 18px;
    width: 18px;
}

.i-check-orange {
    background: url(../img/ico/i-check-orange.png);
    height: 16px;
    width: 16px;
}

.i-play {
    background: url(../img/ico/i-play.png);
    height: 20px;
    width: 20px;
}

.i-arrow-right-sky {
    background: url(../img/ico/i-arrow-right-sky.png);
    height: 12px;
    width: 12px;
}

.i-review-none {
    background: url(../img/ico/i-review-none.png);
    height: 48px;
    width: 48px;
}

.i-camera {
    background: url(../img/ico/i-camera.png);
    height: 32px;
    width: 32px;
}

.i-language-close {
    background: url(../img/ico/i-language-close.png);
    height: 12px;
    width: 12px;
}

.i-outline-star {
    background: url(../img/ico/i-outline-star.png);
    height: 16px;
    width: 16px;
}

.i-auto-translation {
    background: url(../img/ico/i-auto-translation.png);
    height: 20px;
    width: 20px;
}


.i-auto-translation-actvie {
    background: url(../img/ico/i-auto-translation-active.png);
    height: 20px;
    width: 20px;
}

.i-dec {
    background: url(../img/ico/i-dec.png);
    height: 20px;
    width: 20px;
}

.i-language-change {
    background: url(../img/ico/i-language-change.png);
    height: 24px;
    width: 24px;
}

.i-safe-payment {
    background: url(../img/ico/i-safe-payment.png);
    height: 16px;
    width: 16px;
}

.i-emoticon {
    background: url(../img/ico/i-emoticon.png);
    height: 20px;
    width: 20px;
}

.i-file {
    background: url(../img/ico/i-file.png);
    height: 20px;
    width: 20px;
}

.i-send {
    background: url(../img/ico/i-send.png);
    height: 20px;
    width: 20px;
}

.i-email {
    background: url(../img/ico/i-email.png);
    height: 36px;
    width: 36px;
}

.i-call {
    background: url(../img/ico/i-call.png);
    height: 36px;
    width: 36px;
}

.i-customer-request-info {
    background: url(../img/ico/i-customer-request-info.png);
    height: 48px;
    width: 48px;
}

.i-print {
    background: url(../img/ico/i-print.png);
    height: 24px;
    width: 24px;
}

.i-arrow-right {
    background: url(../img/ico/i-arrow-right.png);
    height: 16px;
    width: 16px;
}

.i-download {
    background: url(../img/ico/i-download.png);
    height: 20px;
    width: 20px;
}

.i-doc {
    background: url(../img/ico/i-doc.png);
    height: 20px;
    width: 20px;
}

.i-order {
    background: url(../img/ico/i-order.png);
    height: 20px;
    width: 20px;
}

.i-pen {
    background: url(../img/ico/i-pen.png);
    height: 12px;
    width: 12px;
}

.i-ad {
    background: url(../img/ico/i-ad.png);
    height: 44px;
    width: 44px;
}

.i-arrow-right-w {
    background: url(../img/ico/i-arrow-right-w.png);
    height: 20px;
    width: 20px;
}

.i-number-minus {
    background: url(../img/ico/i-number-minus.png);
    height: 16px;
    width: 16px;
}

.i-number-plus {
    background: url(../img/ico/i-number-plus.png);
    height: 16px;
    width: 16px;
}

.i-exclamation-circle-fill {
    background: url(../img/ico/i-exclamation-circle-fill.png);
    height: 16px;
    width: 16px;
}

.i-share-fill {
    background: url(../img/ico/i-share-fill.png);
    height: 16px;
    width: 16px;
}