@charset "utf-8";

/* language-modal */
.language-modal .gt-modal-content {
    width: 350px;
}

.language-modal .gt-modal-body {
    margin: 24px 0 0 0;
}

.languge-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.languge-list li {
    align-items: center;
    color: var(--gt-gray--02);
    cursor: pointer;
    display: flex;
    font-size: var(--gt-text-md);
    padding: 0 0 0 20px;
    position: relative;
    text-align: left;
}

.languge-list li.check::before {
    background: url(../img/ico/i-check-g.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 16px;
    position: absolute;
    left: 0;
    width: 16px;
}

/* alert-modal */
.alert-modal .gt-modal-content {
    padding: 16px 16px 20px 16px;
}

.alert-modal .gt-modal-header button {
    margin: 0 0 0 auto;
}

.alert-modal .gt-modal-body {
    margin: 12px 0 0 0;
}

.alert-modal .gt-modal-body p {
    color: var(--gt-gray-02);
    font-size: var(--gt-text-md);
    margin: 8px 0 0 0;
}

.alert-modal .gt-modal-footer {
    margin: 40px 0 0 0;
    padding: 0;
}

.alert-modal .gt-modal-footer button {
    font-size: var(--gt-text-md);
    width: calc((100% / 2) - 4px);
}