@charset "utf-8";
@import url(../lib/swiper-bundle.min.css);
@import url(swiper.css);
@import url(common.css);
@import url(ico.css);
@import url(modal.css);


/*
 * File       : styles.css
 * Date       : 2024. 01. 22.
 *
 * Dependency : libs/swiper-bundle.min.css   
 *
 * SUMMARY:
 * 01) 메인
 * 02) 회원가입
 * 03) 기타_이용약관, 개인정보 보호정책, 전문가 이용약관
 */

/* **************************************** *
 * 메인
 * **************************************** */
.main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.section00 {
    background: #F5F5F5;
    padding: 24px 0;
}

.section00 .row {
    margin: 0 -12px;
}

.section00 .row>* {
    padding-left: 12px;
    padding-right: 12px;
}

.visual-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    height: 100%;
}

.visual-menu li {
    height: calc((100% / 2) - 12px);
    width: calc((100% / 2) - 12px);
}

.visual-item {
    align-items: center;
    background: var(--gt-write);
    border-radius: 12px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 16px 28px;
}

.visual-item p {
    color: var(--gt-black-01);
    font-size: var(--gt-text-lg);
    font-weight: bold;
}

.visual-item img {
    width: 56px;
}

.section01 {
    background: #6B79FF;
    height: 526px;
}

.section01 .container {
    height: 100%;
}

.section01 .row {
    align-items: center;
    height: 100%;
}

.section01 img {
    margin: 0 auto;
    width: 524px;
}

.section01 h1 {
    color: var(--gt-write);
    font-size: 42px;
    line-height: 50px;
}

.section01 p {
    color: var(--gt-write);
    font-size: 15px;
    margin: 16px 0 40px 0;
}

.section01 button {
    background: #5C42FF;
    border-radius: 6px;
    color: var(--gt-write);
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    width: 154px;
}

.section02 h3 span {
    color: var(--gt-success);
}

.section02 ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 56px;
    margin: 56px 0 0 0;
}

.section02 ul li {
    width: calc(100% / 7);
}

.section02 ul li a {
    align-items: center;
    color: var(--gt-black-01);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section02 img {
    width: 68px;
}

.section03 .swiper-wrap {
    margin: 24px 0 0 0;
    position: relative;
}

.section04 {
    background: var(--gt-primary-bg);
    padding: 60px 0;
}

.section04 h1 {
    color: var(--gt-gray-01);
    font-size: 30px;
}

.section04 p {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-lg);
    margin: 12px 0 28px 0;
}

.section04 dl {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 20px 0 0 0;
}

.section04 dt {
    color: var(--gt-gray-01);
    font-size: 18px;
    font-weight: bold;
}

.section04 dd {
    color: #74767C;
    font-size: var(--gt-text-md);
}

.section04 img {
    width: 100%;
}

.section05 .swiper-wrap {
    margin: 20px 0 0 0;
    position: relative;
}

.section06 {
    padding: 30px 0 0 0;
}

.section06 h3 {
    text-align: center;
}

.section06 p {
    color: var(--gt-gray-03);
    font-size: var(--gt-text-lg);
    margin: 4px 0 0 0;
    text-align: center;
}

.section06 ul {
    display: flex;
    gap: 20px;
    margin: 30px 0 0 0;
}

.section06 ul li {
    width: calc((100% / 4) - 15px);
}

.section06 .item-box {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 224px;
    padding: 24px 28px;
}

.section06 .item-box.bg01 {
    background: #FFF1DA;
}

.section06 .item-box.bg02 {
    background: #FFE5E5;
}

.section06 .item-box.bg03 {
    background: #DAFAFC;
}

.section06 .item-box.bg04 {
    background: #E2EDFF;
}


.section06 .item-box h5 {
    color: var(--gt-gray-01);
}

.section06 .item-box img {
    margin: auto 0 0 auto;
    width: 80px;
}

.section07 {
    padding: 0 0 100px 0;
}

.section07 .col-6 {
    position: relative;
}

.section07 .col-6:last-child {
    padding-left: 68px;
}

.section07 .col-6:first-child {
    border-right: 1px solid var(--gt-gray-05);
    padding-right: 68px;
}

.main-notice-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 36px 0 0 0;
}

.main-notice-list li {
    align-items: center;
    color: var(--gt-gray-03);
    font-size: var(--gt-text-lg);
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.main-notice-list li span {
    color: var(--gt-gray-01);
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    line-height: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section07 p {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-lg);
    margin: 16px 0 0 0;
}

.section07 .btn-group {
    margin: 52px 0 0 0;
}

.section07 button {
    display: flex;
    flex-wrap: wrap;
    height: 62px;
    width: 174px;
}

.section07 button p {
    color: var(--gt-black-01);
    font-size: var(--gt-text-lg);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: left;
}

.section07 button p span {
    color: var(--gt-gray-01);
    font-size: 9px;
    font-weight: 400;
}

.qrcode {
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.qrcode img {
    width: 128px;
}

.qrcode p {
    color: var(--gt-gray-03);
    font-size: 15px;
    margin: 0;
}

/* **************************************** *
 * 회원가입
 * **************************************** */
.join-wrap {
    background: #F8F8F8;
    height: 100vh;
}

.join-wrap .container {
    max-width: 500px;
}

.join-wrap .join-area {
    padding: 96px 0 0 0;
    text-align: center;
}

.join-wrap .join-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 0 24px 0;
}

.join-wrap .join-logo img {
    height: 48px;
}

.join-wrap .join {
    background: var(--gt-write);
    border: 1px solid #CCC;
    position: relative;
}

.join-wrap .join-top {
    padding: 48px 40px;
}

.join-wrap .join-top h3 {
    font-size: 30px;
    line-height: 38px;
    margin: 0 0 8px 0;
}

.join-wrap .join-top p {
    color: #666;
    font-size: var(--gt-text-lg);
}

.join-wrap .join-top a {
    color: var(--gt-black-01);
}

.join-wrap .btn-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 48px 0 0 0;
}

.join-wrap .btn-group button {
    border: 1px solid #999;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    position: relative;
    width: 100%;
}

.join-wrap .btn-group button i {
    position: absolute;
    left: 24px;
}

.join-wrap .join-bottom img {
    width: 100%;
}

.join-wrap .join-bottom h6 {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-sm);
    font-weight: 400;
    line-height: 21px;
    padding: 24px 40px;
    text-align: left;
}

.join-wrap .join-bottom h6 a {
    color: var(--gt-gray-01);
}

/* 회원가입_이메일 */
.back {
    align-items: center;
    color: var(--gt-black-01);
    font-size: var(--gt-text-md);
    display: flex;
    gap: 8px;
    position: absolute;
    left: 28px;
    top: 28px;
}

.join-wrap .email .join-top {
    padding-top: 72px;
    padding-bottom: 0;
}

.join-wrap .email .input-wrap {
    flex-direction: column;
    margin: 48px 0 92px 0;
}

.join-wrap .email .input-group label {
    color: var(--gt-black-01);
    font-size: 20px;
    font-weight: bold;
}

.join-wrap .email .check-wrap {
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}

/* **************************************** *
* 기타_이용약관, 개인정보 보호정책, 전문가 이용약관
* **************************************** */
.terms-wrap {
    margin: 32px 0 200px 0;
}

.terms-wrap .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 890px;
}

.terms-wrap h3 {
    font-size: 30px;
    margin: 0 0 8px 0;
}

.terms-wrap h6 {
    color: var(--gt-gray-01);
    font-size: var(--gt-text-sm);
    font-weight: 400;
}

.terms-wrap h4 {
    color: var(--gt-gray-02);
    font-size: var(--gt-text-lg);
}

.terms-wrap ul li {
    color: var(--gt-gray-02);
    font-size: var(--gt-text-sm);
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 2px 0;
}

.terms-wrap ul li:last-child {
    margin: 0;
}

.terms-wrap ul li strong {
    color: var(--gt-gray-02);
    font-size: var(--gt-text-md);
    font-weight: bold;
}

.terms-wrap ul li strong.fs-13 {
    font-size: var(--gt-text-sm);
}